<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://cn.st0722.top" target="_blank"
    >
      ST-STUDIO
    </a>
    <span px-1>| Powered By</span>
    <a
      b-slate-link
      href="https://openai.com/pricing" target="_blank"
    >
      OpenAI API
    </a>
    <span px-1>| </span>
    <a
      b-slate-link
      href="https://analytics.us.umami.is/share/C59tDAbVTlMxZZfH/Chat-Demo" target="_blank"
    >
      Analysis
    </a>
    <span px-1>| </span>
    <a
      b-slate-link
      href="api.html" target="_blank"
    >
      Our API
    </a>
  </p>
</footer>
